.button  {    
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 5.2vh;
    max-width: 340px;
    min-width: 225px;
    min-height: 38px;
    margin-top: 3vh;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 2px #301E74; 
    background: #ee049c;    
    border: none;
    color: #301E74;
    cursor: pointer;
    font-size: 2.5vh;
    font-weight: bold;
}

.buttonAqua {
    background-image: linear-gradient(90deg,#d433f5,#0dadf2 40%,#6a3fd1 60%,#1ac0be);
    background-size: 200% 100%;
    background-position: 100% 0;
    margin-top: 2vh;
    color: #ffffff;
}

.buttonAqua:hover {
    border: 1px solid #301E74;
}

.buttonPink {
    background: -moz-linear-gradient(90deg, #df04fc 0%, #ee049c 33%, #d802f5 100%);
    background: -webkit-linear-gradient(90deg, #df04fc 0%, #ee049c 33%, #d802f5 100%);
    background: linear-gradient(90deg, #df04fc 0%, #ee049c 25%, #d802f5 100%);
}

.buttonPink:hover {
    border: 1px solid #301E74;
}

.activeLink {
    text-decoration: none;
}

@media (max-height: 568px) {
    .button  {
        height: 38px;
        margin-top: 20px;
        font-size: 16px;
    }    
}

.buttonPinkLarge {
    width: 200px;
    height: 110px;
    color: #ffffff;
    font-size: 14px
}

@media (max-height: 648px) {
    .button  {
        margin-top: 10px;
    }  

    .buttonPinkLarge {
        width: 180px;
        height: 90px;
        font-size: 11px
    }
}

.buttonPinkLarge:hover {
    border: 1px solid #301E74;
}

.buttonGryMedium {
    width: 80%;
    max-width: 300px;
    min-width: 230px;
    height: 60px;
    min-height: 60px;
    color: #2d2736;
    background: -moz-linear-gradient(90deg, rgba(182,171,206,1) 0%, rgba(255,255,255,1) 23%, rgba(182,171,206,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(182,171,206,1) 0%, rgba(255,255,255,1) 23%, rgba(182,171,206,1) 100%);
    background: linear-gradient(90deg, rgba(182,171,206,1) 0%, rgba(255,255,255,1) 23%, rgba(182,171,206,1) 100%);
    text-align: left;
    font-size: 16px;
    box-shadow: 0 0 8px 3px #15131b; 
    margin: 10px 10px 20px 10px;
}

@media (max-width: 376px) {

    .buttonGryMedium {
        width: 230px;
        font-size: 14px;
    }
}



