.profile {
    width: 100%;
    height: calc(100% + 220px + 58px);
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 1000px) {     
    .profile {
        width: 700px;
    }
}

