.progress_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 16px;    
    width: 200px;
}

.expProgressPercent_container {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    width: 200px;
    height: 14px;
    border-radius: 7px;
    border: 1px solid rgb(0, 119, 255);
}

.expProgressPercent_progress {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 16px;
    border-radius: 7px;
    background: rgb(0, 119, 255);
}

.unit {
    position: absolute;
    padding-left: 5px;
    color: #fbfeff;   
    font-size: 14px;
}

.expProgressPercent {
    position: absolute;
    padding-right: 7px;
    color: #fbfeff;    
    font-size: 12px;
}


@media (max-width: 358px) {

    .progress_container {
        height: 14px;    
        width: 170px;
    }
    
    .expProgressPercent_container {         
        width: 170px;
        height: 12px;
        border-radius: 6px;
    }
    
    .expProgressPercent_progress {
        height: 14px;
        border-radius: 6px;
    }
    
    .unit {
        padding-left: 3px; 
        font-size: 11px;
    }
    
    .expProgressPercent {
        padding-right: 5px;  
        font-size: 11px;
    }
}

@media (min-width: 511px) { 
    .progress_container {
        width: 240px;
    }
    
    .expProgressPercent_container {         
        width: 240px;
    }
        
    .unit {
        padding-left: 7px;
    }
    
    .expProgressPercent {
        padding-right: 10px;
    }
}