.tokenAlert_block {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 300px;
    width: 100%;    
    height: calc(100% - 300px - 48px);
    background: #2d2736;
}

.tokenAlert_block::before {
    content: '';
    position: fixed;
    right: 5px;
    top: 60vh;
    width: 200px;
    height: 150px;
    background: linear-gradient(210deg, #034eda 10%, #b403b4 80%);
    border-radius: 50%;
    filter: blur(125px);
}

.tokenAlert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    min-width: 224px;
    max-width: 400px;
    height: 75%;
    min-height: 225px;
    max-height: 350px;
    padding: 20px;
    padding-top: 10px;    
    box-shadow: 0 0 8px 3px rgb(247, 42, 213);
    border-radius: 5px;
}

.message {
    text-align: center;
    text-justify: center;
    color: #ffffff;
    font-size: 14px;
}

.icon {
    width: 50px;
    height: 50px;
    padding-bottom: 5px;    
}

@media (max-width: 358px) {

    .tokenAlert_block {
        top: 220px;
        height: 300px;
    }

    .tokenAlert_block::before {
        width: 150px;
        height: 100px;
        filter: blur(85px);
    }
    
    .tokenAlert {
        width: 224px;
        height: 225px;
        padding: 15px;   
        box-shadow: 0 0 7px 2px rgb(247, 42, 213);
    }
    
    .message {
        font-size: 13px;
    } 
}

@media (max-height: 648px) {

    .tokenAlert_block {
        height: 400px;
        padding-bottom: 48px;
    }  
    
    .tokenAlert {
        width: 300px;
        height: 260px;
        padding: 15px;
        padding-top: 10px;    
        box-shadow: 0 0 6px 1px rgb(247, 42, 213);
    } 

    .message {
        font-size: 12px;
    } 
}

@media (min-width: 511px) { 

    .tokenAlert_block::before {
        width: 300px;
        height: 250px;
        filter: blur(120px);
    }

    .tokenAlert {
        box-shadow: 0 0 9px 4px rgb(247, 42, 213);
        border-radius: 6px;
    }
    
    .message {
        font-size: 16px;
    }    
}
