.tokenAlert_block {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 364px;
    width: 100%;
    max-width: 700px;
    min-width: 310px;    
    height: calc(100% - 300px - 58px - 64px);
    min-height: 236px;
    background: #2d2736;
}

.tokenAlert_block::before {
    content: '';
    position: fixed;
    right: 5px;
    top: 60vh;
    width: 200px;
    height: 150px;
    background: linear-gradient(210deg, #034eda 10%, #b403b4 80%);
    border-radius: 50%;
    filter: blur(125px);
}

.tokenAlert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    min-width: 224px;
    max-width: 400px;
    height: 75%;
    min-height: 170px;
    max-height: 350px;
    padding: 20px;
    padding-top: 10px;    
    box-shadow: 0 0 8px 3px rgb(247, 42, 213);
    border-radius: 5px;
}

.message {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}

.icon {
    width: 50px;
    height: 50px;
    padding-bottom: 5px;    
}

@media (max-width: 358px), (max-height: 734px) {

    .tokenAlert_block {
        top: 279px;
        height: calc(100% - 220px - 58px - 59px);
    }

    .tokenAlert_block::before {
        width: 150px;
        height: 100px;
        filter: blur(85px);
    }
    
    .tokenAlert {
        height: 225px;
        padding: 15px;   
        box-shadow: 0 0 7px 2px rgb(247, 42, 213);
    }

    .icon {
        width: 45px;
        height: 45px;   
    }
    
    .message {
        font-size: 12px;
    } 
}

@media (min-width: 511px) { 

    .tokenAlert_block::before {
        width: 300px;
        height: 250px;
        filter: blur(120px);
    }

    .tokenAlert {
        box-shadow: 0 0 9px 4px rgb(247, 42, 213);
        border-radius: 6px;
    }
    
    .message {
        font-size: 16px;
    }    
}

@media (max-height: 648px) {

    .tokenAlert_block {
        top: 274px;
        height: calc(100% - 220px - 58px - 54px);
        padding-bottom: 58px;
    }  
    
    .tokenAlert {
        height: 170px;
        padding: 15px;
        padding-top: 10px;    
        box-shadow: 0 0 6px 1px rgb(247, 42, 213);
    } 

    .icon {
        width: 40px;
        height: 40px;   
    }

    .message {
        font-size: 11px;
    } 
}
