.layout_block {
    width: 100%;    
    min-width: 310px;
    height: calc(100vh + 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout_block::before {
    content: '';
    position: fixed;
    left: 10px;
    top: 5px;
    width: 150px;
    height: 150px;
    background: linear-gradient(210deg, #086dcc 10%, #ad0fad 80%);
    border-radius: 50%;
    filter: blur(115px);
}

.layout_block::after {
    content: '';
    position: fixed;
    right: 0px;
    bottom: 10px;
    width: 100px;
    height: 100px;
    background: linear-gradient(144deg, #ad0fad 30%, #08b5cc 80%);
    border-radius: 50%;
    filter: blur(110px);
}

.layout {
    width: 100%;
    min-width: 310px;
    height: calc(100vh + 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_bar {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center; 
}

@media (min-width: 700px) { 
    .layout {
        width: 700px;
        border-right: 1px solid #9a4df3;
        border-left: 1px solid #9a4df3;
        box-shadow: 0 0 10px 7px #1c1922;
    }    
}

@media (min-width: 1000px) { 
    .layout {
        width: 800px; 
        align-items: flex-end;
    }
    
    .nav_bar {        
        justify-content: flex-start; 
    }
}