.navBar_block {
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: 1000;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    min-width: 310px;
    height: 30px;
    padding: 10px 0px 7px 0px;
    font-size: 16px;  
    background: #2d2736;
    border-top: 1px solid #9a4df3;
    box-shadow: 0 0 10px 4px #2d2736; 
}

.link_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.link {
    text-decoration: none;
    color: #9a4df3;
}

.linkActive {
    text-decoration: none;
    color: aqua;
}

.icon_ellipse {
    width: 6px;
    height: 6px;
}

.svg_active {    
    width: 17px;
    height: 19px;
    fill: aqua;
}

.svg {
    width: 17px;
    height: 19px;    
    fill: #9a4df3;
}

@media (max-width: 339px) {

    .navBar_block  {       
        box-shadow: 0 0 7px 2px #23154e;
    }
}

