.block {
    position: absolute;
    top: 354px;
    width: 100%;    
    min-width: 310px;
    height: calc(100% + 240px);
    display: flex;
    flex-direction: column;
    align-items: center; 
    background: #2d2736; 
    padding-top: 17px;
    padding-bottom: 240px;
}

.block::before {
    content: '';
    position: fixed;
    left: 10px;
    top: 5px;
    width: 150px;
    height: 150px;
    background: linear-gradient(210deg, #086dcc 10%, #ad0fad 80%);
    border-radius: 50%;
    filter: blur(115px);
}

.block::after {
    content: '';
    position: fixed;
    right: 0px;
    bottom: 10px;
    width: 100px;
    height: 100px;
    background: linear-gradient(144deg, #ad0fad 30%, #08b5cc 80%);
    border-radius: 50%;
    filter: blur(110px);
}

@media (max-width: 358px), (max-height: 738px) {
    .block {
        top: 274px;
        padding-top: 17px;
    }
}

@media (max-height: 648px) {
    .block {
        padding-top: 7px;
    }
}

@media (min-width: 511px) { 
    .block::before {
        left: 10px;
        top: 150px;
        width: 250px;
        height: 250px;
        filter: blur(210px);
    }
    
    .block::after {
        right: 10px;
        bottom: 10px;
        width: 230px;
        height: 230px;
        filter: blur(200px);
    }
}



