.handleFixedPos {
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed_pos_300 {
    position: fixed;
    top: -300px;
}

.fixed_pos_220 {
    position: fixed;
    top: -220px;
}

@media (min-width: 1000px) {     
    .handleFixedPos {
        width: 700px;
    }
}
