.profitNumber_block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profitNumber {    
    overflow-x: scroll;
    white-space: nowrap;       
    margin-right: 5px;
    font-size: 14px;
}

.label {
    font-size: 14px;
}

.profitNumber::-webkit-scrollbar {
    height: 0;
}

@media (max-width: 339px) {
      
    .profitNumber {
        font-size: 13px;
    }
}

.positive {
    color: #04f398;
}
    
.negative {
    color: #ff1616;
    font-weight: 700;

}
    
.zero {
    color: #ffffff;
}


