.background {
    display: grid;
    position:relative;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    min-height: 568px;
    min-width: 320px;
    grid-template-areas:
    'logo' 
    'context'
    'form'
    'button'
    'footer';
    grid-template-rows: 40vh 25vh 15vh 10vh auto;
    /* background-image: url('../../images/banner-bg.png'); */
    /* background-size: 100% 100%; */
    background: -moz-linear-gradient(180deg, rgba(54,21,97,1) 0%, rgba(48,30,116,1) 73%, rgba(62,98,166,1) 89%, rgba(88,220,254,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(54,21,97,1) 0%, rgba(48,30,116,1) 73%, rgba(62,98,166,1) 89%, rgba(88,220,254,1) 100%);
    background: linear-gradient(180deg, rgba(54,21,97,1) 0%, rgba(48,30,116,1) 73%, rgba(62,98,166,1) 89%, rgba(88,220,254,1) 100%);
}

.logo_M {
    position: absolute;
    z-index: 1;
    top: 20vh;
    height: 70vh;
    width: 86vw;
}

.children_Auth {
    position: relative;
    z-index: 100;
}

.imageLogo_block {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh;
}

.imageLogo {
    height: 100%;
}

.context_block {
    grid-area: context;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: space-between;
    margin: 0vh 5vh 5vh 5vh;  
}

.context {
    width: 100%;
    min-width: 225px;
    height: 100%;
    text-align: center;
    font-size: 2.5vh;  
    color: #F7BF2C;
}

.locationFormClasses {
    grid-area: form;
    display: flex; 
    align-items: flex-end;
    justify-content: center;
}

.locationButtonClasses {
    grid-area: button;
    display: flex;  
    align-items: center;
    justify-content: center;
}

@media (max-height: 567px) {
    .background {
        height: 567px;
        grid-template-rows: 40% 25% 15% 10% auto;        
    }

    .logo_M {
        height: 420px;
        top: 120px;
    }

    .imageLogo_block {
        margin: 25px;
    }    
     
    .context_block {
        margin: 0px 20px 20px 20px;  
    }
    
    .context {
        font-size: 14px;        
    } 
}

@media (min-width: 400px) {
    .logo_M {
        left: calc(50vw - 233px);
        width: 400px;
    }
}

@media (max-width: 319px) {
    .logo_M {
        width: 275px;
    }
}










