.background {
    display: grid;
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    min-height: 568px;
    min-width: 320px;
    padding-top: 4vh; 
    grid-template-areas:
    'logo' 
    'context'
    'form'
    'button'
    'footer';
    grid-template-rows: 40vh 25vh 15vh 10vh auto;
    background: -moz-linear-gradient(180deg, rgba(54,21,97,1) 0%, rgba(48,30,116,1) 73%, rgba(62,98,166,1) 89%, rgba(88,220,254,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(54,21,97,1) 0%, rgba(48,30,116,1) 73%, rgba(62,98,166,1) 89%, rgba(88,220,254,1) 100%);
    background: linear-gradient(180deg, rgba(54,21,97,1) 0%, rgba(48,30,116,1) 73%, rgba(62,98,166,1) 89%, rgba(88,220,254,1) 100%);     
}

.background::before {
    content: '';
    position: absolute;
    z-index: 10;
    width: 320px;
    height: 350px;
    background: linear-gradient(210deg, #025db3 10%, #9e049e 80%);
    border-radius: 50%;
    filter: blur(100px);
}

.background::after {
    content: '';
    position: absolute;
    z-index: 10;
    right: 0px;
    bottom: 10px;
    width: 300px;
    height: 200px;
    background: linear-gradient(144deg, #960496 30%, #0391a3 80%);
    border-radius: 50%;
    filter: blur(60px);
}

.children_Auth {
    position: relative;
    z-index: 1000;
}

.imageLogo_block {
    position: relative;
    z-index: 1000;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh;
    margin-left: 6vh;
}

.imageLogo {
    position: relative;
    z-index: 1000;
    height: 70%;
}

.context_block {
    position: relative;
    z-index: 1000;
    grid-area: context; 
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: space-between;
    margin: 0vh 5vh 5vh 5vh;  
}

.context {
    width: 100%;
    min-width: 225px;
    height: 100%;
    text-align: center;
    font-size: 2.5vh;  
    color: #fffffe;
}

.locationFormClasses {
    grid-area: form;
    display: flex; 
    align-items: flex-end;
    justify-content: center;
}

.locationButtonClasses {
    position: relative;
    z-index: 1000;
    grid-area: button;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.inputPhoneNumber_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {    
    font-size: 1.8vh;
    margin-top: 3vh;   
    color: aqua;
}

.label_warning {
    font-size: 1.8vh;
    margin-top: 3vh;   
    color: #ffd207;
}

.fieldPhone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 5vh;
    max-width: 340px;    
    max-height: 54px;
    min-width: 225px;
    min-height: 36px;        
    margin-top: 1vh;
    border-radius: 6px;        
    font-size: 2.5vh;  
    padding: 0px;
    background: #311e7400;
    border: 1px solid aqua;
    color: aqua;
    text-align: center;
}


@media (max-height: 567px) {
    .label {
        font-size: 11px;
        margin-top: 10px;
    }

    .label_warning {
        font-size: 11px;
        margin-top: 10px;
    }
    
    .fieldPhone {
        height: 36px;        
        margin-top: 5px;       
        font-size: 16px;        
    }
}

@media (max-height: 568px) {

    .background {
        height: 568px;
        grid-template-rows: 40% 25% 15% 10% auto;        
    }

    .background::before {
        left: 1px;
        top: 4px;
        width: 100px;
        height: 100px;
        filter: blur(40px);
    }
    
    .background::after {
        right: 0px;
        bottom: 5px;
        width: 150px;
        height: 130px;
        filter: blur(35px);
    }     

    .imageLogo_block {
        margin: 25px;
        margin-left: 40px;        
    }  
    
    .context_block {
        margin: 0px 20px 20px 20px;  
    }
    
    .context {
        font-size: 14px;        
    } 
}














